[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
requests = "*"
pytest-playwright = "*"
python-dotenv = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.13"
